<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="gdpv2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- GDP 1 -->
    <add key="GDPUsuario" value="GDPdemoAppDev"/>
    <add key="GDPPassword" value="GDPdem0ns+ration"/>
    <!-- Urls Nuevas -->
    <add key="GDPAlfaws" value="https://integraciongn.webtracasa.local/GDP2DEV/applications/alfaws.asmx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--<httpRuntime targetFramework="4.5.2" />-->
  </system.web>
  <applicationSettings>
    <gdpv2.Properties.Settings>
      <setting name="gdpv2_AlfaWS_AlfaWS" serializeAs="String">
        <value>https://integraciongn.webtracasa.local/GDP2DEV/applications/alfaws.asmx</value>
      </setting>
    </gdpv2.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <services>
      <service name="gdpv2.Servicios.ServicioGDPv2Propio" behaviorConfiguration="ServicioBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="gdpv2.Servicios.IServicioGDPv2Propio"
                  behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServicioBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <!-- fpdksjfdsfksj -->

  </system.serviceModel>
</configuration>